body {
  text-align: center;

}

.results {
    display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(3, .25fr);
}

div {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(2, .25fr);
}

img {
  width: 20%
}